.cat__item{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-right: 10px;
    /* border: 1px solid gray; */
    padding: 20px;
    align-items: center;
    background-color: rgb(247, 239, 239);
    font-size: 1rem;
    
}

.cat__item > img {
    border-radius: 100px;
}